@import "../style/colors";

/* font size */
$font-size: 60px;
/* the segmentation-line's height */
$line-height: 2px;
/* colors */
$background-color: $secondary-color;
$font-color: $primary-color;

.ui-counter {
  font-weight: bold;
  $box-height: calc(#{$font-size} * .6);
  $counter-height: calc(#{$box-height} * 2 + #{$line-height});
  display: inline-block;

  .counter-num {
    width: $font-size;
    height: $counter-height;
    line-height: $counter-height;
    font-size: $font-size;
    text-align: center;
    background: transparent;
    margin-right: 10px;
    position: relative;;
    display: inline-block;


    span {
      color: $font-color;
    }

    .segmentation {
      position: absolute;
      top: $box-height;
      background: transparent;
      height: $line-height;
      width: $font-size;
    }

    .top {
      height: $counter-height;
      width: 100%;
      background: transparent;
      position: absolute;
      display: flex;
      justify-content: center;
      z-index: 1;

      span {
        width: $font-size;
        height: $box-height;
        position: absolute;
        background: $background-color;
        border-radius: 10px 10px 0 0;
        display: block;
        overflow: hidden;
      }

      .placeholder {
        width: $font-size;
        height: calc(#{$box-height} + #{$line-height});
        position: absolute;
        top: $box-height;
        background: transparent;
      }
    }

    .bottom {
      height: $box-height;
      position: absolute;
      top: calc(#{$box-height} + #{$line-height});
      display: flex;
      justify-content: center;
      width: $font-size;
      overflow: hidden;
      background: $background-color;
      border-radius: 0 0 10px 10px;

      span {
        position: absolute;
        bottom: 0;
        display: block;
      }
    }

    .next {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      .top {

      }

      .bottom {

      }

    }

  }
}
